.container-fluid
{
    position: relative;
    
}

.textoizquierdaabajo
{
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: relative;
  color:white;
}

.alineartextoderecha
{
    text-align: right;
}

.brillo
{
    filter: brightness(40%);
}

.boton1 
{
    font-size: 0.6rem;
    font-weight: bold;
    
}

.azuloscuro
{
    background-color: rgb(29, 31, 61);
}

.letrachica
{
    font-size: small;
    color: darkgray;
}

.verdeclaro
{
    background-color: rgb(96, 167, 25) ;

}

.letragris
{
    color:darkgrey;
    font-size: 0.8em;
}

.negrita
{
    font-weight: bold;
}

.bordeazul
{
    border-radius: 0%;
    border-style: solid;
    border-color: blue;
}

.bordeverde
{
    border-radius: 0%;
    border-style: solid;
    border-color: darkgreen;
}

.bordeamarillo
{
    border-radius: 0%;
    border-style: solid;
    border-color: yellow;
}

.letragrande
{
    font-size: xx-large;
    font-weight: bold;
}

.fondoceleste
{
    background-color: cornflowerblue;
}



.azuloscuro
{
    background-color: rgb(31, 31, 92);
}
